.item-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weapon-detail {
  &-modal {
    background: darkgray;
    border-radius: 5px;
    padding: 1em;
    width: 400px;

    &-info {
      display: grid;
      grid-template-areas: "label value bar";
      grid-template-columns: 120px 30px 100px;
      gap: 1em;
    }

    &-stats {
      margin-bottom: 1em;
    }

    &-perks {
      display: flex;
      margin-bottom: 1em;

      & > :not(:last-child) {
        margin-right: 1em;
      }

      & > :nth-child(2),
      & > :first-child {
        margin-right: 0.75em;
      }

      &-slot {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 40px;

        img {
          width: 100%;
          cursor: pointer;
        }
      }
    }

    &-mods {
      &-equippable,
      &-masterwork {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
        gap: 0.25em;

        img {
          width: 35px;
          cursor: pointer;
        }
      }
      &-equippable {
        margin-bottom: 1em;
      }
    }
  }

  &-stat {
    &-label {
      grid-area: label;
      text-align: right;
    }

    &-value {
      grid-area: value;
      text-align: right;
    }

    &-bar {
      position: relative;
      height: 10px;
      width: 75px;
      border-radius: 2px;
      border: 1px solid black;
      align-self: center;
      grid-area: bar;

      &-filler {
        background: white;
        height: 100%;
        border-radius: inherit;
      }
    }
  }
}

.perk-equipped {
  filter: brightness(70%) sepia(100);
}

.mod-equipped {
  border: solid goldenrod 3px;
}

.masterwork-equipped {
  border: solid goldenrod 3px;
}

.armor-energy-equipped {
  border: solid goldenrod 3px;
}

.armor-mod-equipped {
  border: solid goldenrod 3px;
}

.armor-energy-type-equipped {
  border: solid goldenrod 3px;
}

.armor-detail {
  &-modal {
    background: darkgrey;
    border-radius: 5px;
    padding: 1em;
    width: 400px;

    &-energy-types {
      display: flex;
      display: "flex";
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 1em;

      img {
        width: 65px;
        cursor: pointer;
      }
    }

    &-mod-slot {
      display: "flex";
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 1em;

      img {
        width: 40px;
        cursor: pointer;
      }
    }

    &-links {
      & > :not(:last-child) {
        margin-bottom: 0.5em;
      }
    }
    &-link {
      display: block;
    }
  }
}
