.item-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weapon-detail {
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &-modal {
    background: darkgray;
    border-radius: 5px;
    padding: 1em;
    width: 500px;

    &-general {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;
    }

    &-name-desc {
      width: 75%;
    }

    &-intrinsic {
      width: 25%;
      text-align: center;
      img {
        width: 50px;
      }
    }

    &-info {
      display: grid;
      grid-template-areas: "label value bar";
      grid-template-columns: 120px 30px 100px;
    }

    &-stats {
      margin-bottom: 1em;

      &-container {
        display: flex;
      }
    }

    &-perks {
      display: flex;
      margin-bottom: 1em;

      & > :not(:last-child) {
        margin-right: 1em;
      }

      & > :nth-child(2),
      & > :first-child {
        margin-right: 0.75em;
      }

      &-slot {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 32px;

        img {
          width: 100%;
          cursor: pointer;
        }
      }
    }

    &-mods {
      &-equippable,
      &-masterwork {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
        gap: 0.25em;

        img {
          width: 35px;
          cursor: pointer;
        }
      }

      &-masterwork {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
        gap: 0.25em;
      }

      &-equippable {
        margin-bottom: 1em;
      }
    }
  }

  &-stat {
    &-label {
      grid-area: label;
      text-align: left;
    }

    &-value {
      grid-area: value;
      text-align: left;
    }

    &-bar {
      position: relative;
      height: 15px;
      width: 75px;
      border-radius: 2px;
      border: 1px solid black;
      align-self: center;
      grid-area: bar;

      &-filler {
        background: white;
        height: 100%;
        border: none;
        border-radius: inherit;
      }
    }
  }
}

.perk-equipped {
  filter: brightness(70%) sepia(100);
}

.mod-equipped {
  border: solid goldenrod 3px;
}

.masterwork-equipped {
  border: solid goldenrod 3px;
}

.armor-energy-equipped {
  border: solid goldenrod 3px;
}

.armor-mod-equipped {
  border: solid goldenrod 3px;
}

.armor-energy-type-equipped {
  border: solid goldenrod 3px;
}

.armor-detail {
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &-modal {
    background: darkgrey;
    border-radius: 5px;
    padding: 1em;
    width: 500px;

    &-name-desc {
      margin-bottom: 1em;
    }

    &-energy-types {
      display: flex;
      align-items: center;
      margin-bottom: 1em;

      & > :not(:last-child) {
        margin-right: 1em;
      }

      img {
        width: 50px;
        cursor: pointer;
      }
    }

    &-energy-bar {
      height: 7px;
      width: 30px;
      background: lightgrey;

      &-container {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        border: solid lightgrey 2px;
        padding: 0.25em 0.5em;
        width: max-content;

        & > :not(:last-child) {
          margin-right: 0.5em;
        }
      }
    }

    &-mod-slot {
      display: "flex";
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 1em;

      img {
        width: 40px;
        cursor: pointer;
      }
    }

    &-links {
      &-container {
        display: flex;
        justify-content: space-between;
      }

      & > :not(:last-child) {
        margin-bottom: 0.5em;
      }
    }
    &-link {
      display: block;
    }
  }
}

.generic-energy-filled,
.arc-energy-filled,
.solar-energy-filled,
.void-energy-filled {
  height: 10px;
  width: 33px;
}

.arc-energy-bar-container {
  border: solid lightblue 2px;
}
.solar-energy-bar-container {
  border: solid orange 2px;
}
.void-energy-bar-container {
  border: solid purple 2px;
}

.generic-energy-filled {
  background: darkslategrey;
}

.arc-energy-filled {
  background: lightblue;
}

.solar-energy-filled {
  background: orange;
}

.void-energy-filled {
  background: purple;
}
